* {box-sizing:border-box}
body{
/*background-color: #34343C;*/
}

video::-webkit-media-controls, video::-moz-media-controls, video::-o-media-controls, video::-ms-media-controls {
  display: none !important;
}

/*schedule grid cell*/
vaadin-grid-cell-content{
    padding-left: 4px;
    padding-right: 4px;
}

.background-video{
    width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  min-width: 800px;
  position: relative;
  margin: auto;
  margin-top:50px !important;
}

.line{
    background-color:white !important;
    margin-top:-150.83px;

}

h1,h2,h3,p{
    color:#34343C;
    text-align:center
}

a{
    font-size:20px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.form-container{
    display:flex;
    flex-direction:column;

    padding:20px !important;
}

.center{
    display:block;
    text-align:center !important;
    align:center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  text-align:center;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  margin: auto;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.first{
    display:block;
}


p{
    margin-left:10%;
    margin-right:10%;
}

/* Navbar*/
vaadin-app-layout::part(navbar){
    background-color:#34343C;
    border-bottom:2px solid white;
}


/*svg menu icon*/
svg{
    color:white !important;
}

.white{
    color:white;
}

.content{
    padding:0px;
    margin-top:70vh;
   background-color:#34343C;
    position:relative;
    display:block;
    overflow-wrap: break-word;
}

ul{
    color:white;
    list-style-type: none;
}

.f{
    text-align:center;
}

.p{
    width:50%;
}

.form-div{
    display:flex !important ;
    flex-direction:row !important;
    width:100%;
}


/* Navbar links*/
.navbar-link{
    padding:10px;
    font-size:25px;
    text-align:center;
    color: white;
    font-weight:bold;
    text-decoration: none !important;
    float:right !important;
}


/* Navbar links on hover*/
.navbar-link:hover{
    background-color: #DD232B;
}

/* Current/active navbar link */
.active {
  background-color: #34343C;
}

.social-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:50px;
}

a{
    padding-bottom:10px;
}

.footer-container{
    margin-top:20px !important;
    background-color: #DD232B;
    padding-top:20px;
    padding-bottom:30px !important;
}

/* Styles for 4k screens*/
@media screen and (min-width: 1921px){
    /*youtube video*/
          iframe{
              width:1920px !important;
              height:1080px !important;
          }

        li{
            font-size:60px;
        }

         /*poster container div*/
          .poster-container{
              text-align:start;
              padding-left:10px;
                      padding-bottom:20px;
              display: flex;           /* Enable Flexbox layout */
              flex-direction: row;     /* Arrange items horizontally (left to right) */
              justify-content: start;  /* Align items to the left */
          }
          /*poster container div*/
            .poster-container2{
                text-align:end;
                padding-right:10px;
                padding-bottom:20px;
                display: flex;           /* Enable Flexbox layout */
                flex-direction: row-reverse;     /* Arrange items horizontally (right to left) */
                justify-content: end;  /* Align items to the left */
            }

        /*poster titles e.g. MIDDLE SCHOOL MADNESS*/
        .poster-title{
            font-size:80px;
            margin-top:40px;
            margin-bottom:40px;
            color:#DD232B;
        }
        /*posters*/
        .poster{
            width:40vw;
            max-width:700px;
            padding-left:10px;
            padding-right:10px;
        }

        .title{
            font-size:100px;
            color:#DD232B !important;
            margin-top:-150px !important;
            font-weight:heavy;
        }

}

/* Styles for screens larger than 1024px (desktop) */
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  /* Your desktop-specific styles go here */
  /* Slideshow container */
  .slideshow-container {
    max-width:1025px;
    min-width:1025px;
    position: relative;
    margin: auto;
  }
   /*youtube video*/
      iframe{
          width:1025px !important;
          height:576px !important;
      }

.form-container{
    /*width:50% !important;
    text-align:center !important;*/
    width:100% !important;
}


li{
    font-size:1.5em;
}

  /*poster container div*/
  .poster-container{
      text-align:start;
      padding-left:10px;
              padding-bottom:20px;
      display: flex;           /* Enable Flexbox layout */
      flex-direction: row;     /* Arrange items horizontally (left to right) */
      justify-content: start;  /* Align items to the left */
  }
  /*poster container div*/
    .poster-container2{
        text-align:end;
        padding-right:10px;
        padding-bottom:20px;
        display: flex;           /* Enable Flexbox layout */
        flex-direction: row-reverse;     /* Arrange items horizontally (right to left) */
        justify-content: end;  /* Align items to the left */
    }

/*poster titles e.g. MIDDLE SCHOOL MADNESS*/
.poster-title{
    font-size:60px;
    margin-top:30px;
    margin-bottom:30px;
    color:#DD232B;
}
/*posters*/
.poster{
    width:40vw;
    max-width:700px;
    padding-left:10px;
    padding-right:10px;
}

.title{
    font-size:80px;
    color:#DD232B !important;
    margin-top:-150px !important;
    font-weight:heavy;
}

  .mobile{
          display:none;
      }
  .desktop{
          display:flex;
      }
  .laptop{
          display:none;

  }



}
/* Styles for screens between 768px and 1024px (tablet) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Your tablet-specific styles go here */
  .slideshow-container {
      max-width:769px;
      min-width:769px;
      position: relative;
      margin: auto;
    }

  /*youtube video*/
     iframe{
        width:700px !important;
        height:393px !important;
     }

/*poster container div*/
.poster-container{
    text-align:start;
    padding-left:10px;
    display: flex;           /* Enable Flexbox layout */
    flex-direction: row;     /* Arrange items horizontally (left to right) */
    justify-content: start;  /* Align items to the left */
}

/*poster container div*/
    .poster-container2{
        text-align:end;
        padding-right:10px;
        display: flex;           /* Enable Flexbox layout */
        flex-direction: row-reverse;     /* Arrange items horizontally (right to left) */
        justify-content: end;  /* Align items to the left */
    }

.form-container{
    /*width:60% !important;*/
    width:100% !important;
}

li{
    font-size:20px;
}

/*poster titles e.g. MIDDLE SCHOOL MADNESS*/
.poster-title{
    font-size:55px;
    margin-top:30px;
    margin-bottom:30px;
    color:#DD232B;
}
    /*posters*/
    .poster{
        width:50vw;
        padding-left:10px;
        padding-right:10px;
    }

.title{
    font-size:60px;
    color:#DD232B !important;
    margin-top:-150px !important;
    font-weight:heavy;
}

    .mobile{
              display:none;
          }
    .desktop{
              display:none;
          }
    .laptop{
              display:flex;

      }
}

/* Styles for screens smaller than 768px (mobile) */
@media screen and (max-width: 767px) {
  /* Your mobile-specific styles go here */
  .slideshow-container {
        max-width:300px;
        min-width:300px;
        position: relative;
        margin: auto;
      }

   /*youtube video*/
    iframe{
        width:320px !important;
        height:180px !important;
    }

/*footer social media div*/
.social-container{
    gap:10px;
}

/*poster container div*/
.poster-container{
    text-align:center;
}

/*poster container div*/
    .poster-container2{
        text-align:center;

    }

/*poster titles e.g. MIDDLE SCHOOL MADNESS*/
.poster-title{
    font-size:40px;
    margin-top:30px;
    margin-bottom:30px;
    color:#DD232B;
}
/*posters*/
.poster{
    width:80vw;
}

.form-container{
    width:100% !important;
}



.p{
    width:100%;
}

vaadin-form-layout{
    width:100% !important;

}

.form-div{
    display:flex !important ;
    flex-direction:column !important;
    width:100%;
}

.title{
    font-size:50px;
    color:#DD232B !important;
    margin-top:-150px !important;
    font-weight:heavy;

}

    .mobile{
             display:flex;
              }
    .desktop{
            display:none;
              }
    .laptop{
             display:none;

          }

}




